<html>

<head>
    <title>Discworld Dilemma Quiz</title>
    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="sanitize.css" type="text/css" /> <!-- If I keep this I need to add the credit in my README -->
    <link rel="stylesheet" href="../main.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,700" rel="stylesheet">
</head>

<body>
  <main>
    <div id="title-bar">
      <div class="title">
        <h1>Discworld Dilemma</h1>
        <h2>Can you help?</h2>
      </div>
      <div class="logo">
        <img src="../images/dd-hat.png" alt="hat logo"></img>
      </div>
    </div>
    <div id="game-info" class="overlay">
      <p>The quotes have escaped their books and the library is in chaos!  To earn bananas, tell each quote which Terry Pratchett book it belongs to.</p>
    </div>
    <div id="user-info" class="overlay">
      <form method="POST">
        <label class="form" for="username">Enter a username to start playing:</label>
        <input class="form" type="text" id="username" name="username">
        <button class="form">I'll help!</button>
      </form>
      <div>
        <h2>Top players:</h2>
        <div class="nerds">
          <div class="leaderboard">
            <p>Robert</p>
            <p>Terry</p>
            <p>Hannah</p>
            <p>Derri</p>
            <p>Judes</p>
          </div>
          <div class="leaderboard">
            <p>Ryan</p>
            <p>Coral</p>
            <p>[user]</p>
            <p>Roxy</p>
        </div>
      </div>
    </div>
    <div id="legal" class="overlay">
      <p>All quote & book title text copyright, and displayed with the permission of Dunmanifestin Limited. Not to be reproduced without permission.  Discworld&reg; and TERRY PRATCHETT&reg; are registered trade marks of Dunmanifestin Limited.</p>
    </div>
  </main>
</body>

</html>