<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="main.css" type="text/css" />
    <title>Python Quiz</title>
  </head>
  <body>
    <div>
      <h1>Disworld Dilemma</h1>
    </div>
    <div>
      <p>This should be python helpMessage</p>
    </div>
    <div>
      <div>
        <p>This is where the user inputs their username</p>
      </div>
      <div>
        <p>If on screen 1: This is the leaderboard</p>
        <p>If on questions: This is incorrect answers and encouragement</p>
      </div>
    </div>
  </body>
</html>